.header-bar {
    background: rgba(31, 33, 36, 0.7);
    position: fixed;
    height: 6vh;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.menu-wrapper {
    float: right;
    position: relative;
    padding: 14px 25px;
    top: 50%;
    transform: translateY(-50%);
}

/* .menu-item-list {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    list-style-type: none;
} */

.menu-item li {
    margin-left: 4vw;
    display: inline;
}


.menu-item a {
    color: #fff;
    font-size: 2vh;
    font-weight: 600;
    text-decoration: none;
}

.menu-item-title:first-of-type {
    margin-left: 0;
}